
/*-------------------------------------------
	Layouts
-------------------------------------------*/

#header {}

#content {}

	#main {
		float: right;
		width: 761px;
		}

	#secondary {
		float: left;
		width: 223px;
		margin-right: 2px;
		}

#videos {}

#footer {}