	<footer id="footer" role="contentinfo">

		<div class="wrap">

			<p id="copyright"><small>&copy; 2013 Road Pictures <span class="sep">|</span> All Rights Reserved</small></p>

		</div>

	</footer>

	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
	<script>window.jQuery || document.write("<script src='/a/js/jquery.js'>\x3C/script>")</script>

	<script src="/a/js/matchmedia.js"></script>

	<script src="/a/js/picturefill.js"></script>

	<script src="/a/js/flexslider.js"></script>

	<script src="/a/js/functions.js"></script>

	{!-- Turn this back on when individual video pages are ready

	{exp:hash_browns
		page_wrap			= "#content"
		main				= "#main"
		content			= ".video"
		link_containers	= "#videos .slides",
		class_current		= "true"
	}

	--}

	{!--

		Asynchronous google analytics; this is the official snippet.

		Replace UA-XXXXXX-XX with your site's ID and uncomment to enable.

		<script>

			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-11917578-1']);
			_gaq.push(['_trackPageview']);

			(function() {

				var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);

			})();

		</script>

	--}

</body>

</html>