<header id="header" role="banner">

	<div class="wrap">

		<h1 id="logo"><a href="/">{site_name}</a></h1>

		<nav role="navigation">

			<ol>

				<li{if segment_1 == ""} class="active"{/if}><a href="/">Home</a></li>
				<li{if segment_1 == "work"} class="active"{/if}><a href="/work/">Work</a></li>
				<li{if segment_1 == "about"} class="active"{/if}><a href="/about/">About</a></li>
				<li{if segment_1 == "contact"} class="active"{/if}><a href="/contact/">Contact</a></li>
				<li{if segment_1 == "blog"} class="active"{/if}><a href="/blog/">Blog</a></li>

			</ol>

		</nav>

	</div>

</header>