<div id="scenes">

	<div class="wrap">

		<div class="category behind-the-scenes">

			<h3 class="category-title">Behind-the-Scenes</h3>

			<div class="thumbnails">

				<ul class="slides">
				
					<li>
					
						<img src="/a/img/scenes/thumbnail-01.jpg" alt="Thumbnail of a scene." />

					</li>

					<li>
					
						<img src="/a/img/scenes/thumbnail-02.jpg" alt="Thumbnail of a scene." />

					</li>

					<li>

						<img src="/a/img/scenes/thumbnail-03.jpg" alt="Thumbnail of a scene." />

					</li>

					<li>

						<img src="/a/img/scenes/thumbnail-04.jpg" alt="Thumbnail of a scene." />

					</li>

					<li>

						<img src="/a/img/scenes/thumbnail-05.jpg" alt="Thumbnail of a scene." />

					</li>

				</ul>

			</div>
		
		</div>

	</div>

</div>