{embed="includes/head" page-title="Contact"}

	{embed="includes/header"}

	<div id="content">

		<div class="wrap">

			<div id="main" role="main">
				
				<img src="/a/img/road-pictures.jpg" alt="Road Pictures banner." />
				
			</div>
	
			<div id="secondary">

				<div id="contact-info">

					<div class="vcard business">

						<h2 class="fn n org">Road Pictures</h2>

						<div class="adr">

							<div class="street-address">5420 N. College Ave.</div>
							<div class="suite">Suite 201</div>
							<span class="locality">Indianapolis</span>, 
							<span class="region">IN</span>, 
							<span class="postal-code">46220</span>

						</div>

						<div class="tel">Phone: (317) 267-9590</div>

						<div class="fax">Fax: (317) 267-9590</div>

					</div>

					<div class="vcard contact">
	
						<h3 class="fn n">Greg Malone</h3>
	
						<div class="position">Executive Producer</div>
						<div class="tel">Mobile (317) 695-7419</div>
						<div class="email"><a href="mailto:gmalone@roadpictures.com">gmalone@roadpictures.com</a></div>

					</div>

					<div class="vcard contact">
	
						<h3 class="fn n">Kim Cline</h3>

						<div class="position">Executive Producer / Sales</div>
						<div class="tel">Mobile (317) 439-2130</div>
						<div class="email"><a href="mailto:kcline@roadpictures.com">kcline@roadpictures.com</a></div>

					</div>

				</div>

			</div>

		</div>

	</div>

	{embed="includes/footer"}